/* Design Guidelines -- https://github.com/morhetz/gruvbox for Color Palette */

/* Variable Constants */

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #16191a;
    --text: #e0dddd;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffff;
    --text: #1d1d1d;
  }
}

/* Responsive Design */

@media screen and (max-width: 768px) {
  /* 0 to 768 width */
  body {
    margin: 7vh auto 0;
    width: 85vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 1500px) {
  /* 769 to 1500 width */
  body {
    margin: 10vh auto 0;
    width: 42.5vw;
  }
}

@media screen and (min-width: 1501px) {
  /* 1500+ width */
  body {
    margin: 13vh auto 0;
    width: 35vw;
  }
}


/* Static Class Styling */

body {
  transition: width 0.2s ease-in-out;
  font-family: "Figtree";
  line-height: 1.5rem;
  background: var(--bg);
  color: var(--text);
  
}

p {
  margin: 0;
}

section {
  margin: 2.5rem 0;
}

.profile-picture {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  margin: 0.5rem 0;
}

.section-title {
  font-weight: 600;
}